<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	<title>收藏夹-小精灵</title>
	<th:block th:insert="~{admin/include/header :: metaHeader}"></th:block>
	<link href="../static/css/bootstrap.min.css" rel="stylesheet">
	<link href="../static/css/materialdesignicons.min.css" rel="stylesheet">
	<link href="../static/css/style.min.css" rel="stylesheet">
	<link href="../static/js/skin/laypage.css" rel="stylesheet">

	<style>
		table{
			table-layout: fixed;
		}
		table td{
			text-overflow:ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}
		td:last-child {
			white-space: normal;
			overflow: visible;
			text-overflow: clip;
		}
		th:nth-child(1) { width: 3%; }  /* 编号 */
		th:nth-child(2) { width: 12%; } /* 任务名称 */
		th:nth-child(3) { width: 15%; } /* 源地址 */
		th:nth-child(4) { width: 3%; }  /* 来源平台 */
		th:nth-child(5) { width: 5%; }  /* 是否监控 */
		th:nth-child(6) { width: 5%; }  /* 任务状态 */
		th:nth-child(7) { width: 5%; }  /* 总任务数 */
		th:nth-child(8) { width: 5%; }  /* 已完成 */
		th:nth-child(9) { width: 8%; } /* 提交时间 */
		th:nth-child(10) { width: 8%; } /* 结束时间 */
		th:nth-child(11) { width: 11%; } /* 操作 */
		
		.btn-group {
			display: flex;
			flex-wrap: wrap;
			gap: 5px;
		}
		.btn-group .btn {
			margin-right: 5px;
		}
		.btn-group .btn:last-child {
			margin-right: 0;
		}
	</style>
</head>

<body>
<div class="lyear-layout-web">

	<div class="lyear-layout-container">

		<!--左侧导航-->
		<div th:insert="~{admin/include/common :: headermenu}"></div>
		<!--End 头部信息-->
		<!--End 头部信息-->

		<!--页面主要内容-->
		<main class="lyear-layout-content">

			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="card">
							<div class="card-header bg-light">
								<div class="row align-items-center">
									<div class="col-auto">
										<div class="btn-group">
											<a class="btn btn-primary btn-sm searchData" href="#">
												<i class="mdi mdi-magnify"></i> 搜索
											</a>
											<a class="btn btn-success btn-sm addCollect" href="#">
												<i class="mdi mdi-plus"></i> 添加任务
											</a>
										</div>
									</div>
								</div>
							</div>
							<div class="card-body">
								<form action="#!" method="post" class="form-horizontal form-search">
									<div class="row">
										<div class="col-md-4">
											<div class="form-group">
												<label class="control-label">平台</label>
												<select name="videoplatform" class="form-control videoplatform" id="type">
													<option value="">所有</option>
													<option value="哔哩">哔哩</option>
													<option value="抖音">抖音</option>
												</select>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>




				<div class="row">
					<div class="col-lg-12">
						<div class="card">
							<div class="card-body">
								<div class="table-responsive">
									<table class="table table-bordered">
										<thead>
										<tr>
											<th>编号</th>
											<th>任务名称</th>
											<th>源地址</th>
											<th>平台</th>
											<th>是否监控</th>
											<th>状态</th>
											<th>本次/累计</th>
											<th>Cron</th>
											<th>提交时间</th>
											<th>结束时间</th>
											<th>操作</th>
										</tr>
										</thead>
										<tbody class="tableData">

										</tbody>
									</table>
								</div>
								<ul id="pager" class="pagination">

								</ul>

							</div>
						</div>
					</div>

				</div>

			</div>

		</main>
		<!--End 页面主要内容-->
	</div>

	<!--    模态框 start-->
	<div class="addCollectBox layui-form" style="display: none;padding: 20px;">
		<input class="optionid" type="hidden">
		<div class="card">
			<div class="card-header">
				<h4>添加收藏任务</h4>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label>任务名称</label>
							<input type="text" name="taskname" autocomplete="off" class="taskname form-control">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>来源平台</label>
							<select class="platform form-control" id="platformSelect">
								<option value="哔哩">哔哩</option>
								<option value="抖音">抖音</option>
							</select>
						</div>
					</div>
				</div>

				<!-- B站类型选择 -->
				<div class="row bilibili-type" style="display: none;">
					<div class="col-md-6">
						<div class="form-group">
							<label>类型</label>
							<select class="bilibili-select form-control">
								<option value="arc">投稿</option>
								<option value="seaarc">合集</option>
								<option value="fav">收藏夹</option>
							</select>
						</div>
					</div>
					<div class="col-md-6 bilibili-max-fetch" style="display: none;">
						<div class="form-group">
							<label>首次最大获取数</label>
							<input type="number" class="max-fetch form-control" placeholder="请输入首次最大获取数">
						</div>
					</div>
					<div class="col-md-6 bilibili-max-fetch" style="display: none;">
						<div class="form-group">
							<label>监控最大获取数</label>
							<input type="number" class="monitor-max-fetch form-control" placeholder="请输入监控最大获取数">
						</div>
					</div>
				</div>


				<!-- 抖音类型选择 -->
				<div class="row douyin-type" style="display: none;">
					<div class="col-md-6">
						<div class="form-group">
							<label>类型</label>
							<select class="douyin-select form-control">
								<option value="post">作品</option>
								<option value="like">喜欢</option>
								<option value="collect">收藏夹(仅自己)</option>
							</select>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>首次最大获取数</label>
							<input type="number" class="max-fetch form-control" placeholder="请输入首次最大获取数">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>监控最大获取数</label>
							<input type="number" class="monitor-max-fetch form-control" placeholder="请输入监控最大获取数">
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						<div class="form-group addressl">
							<label class="address-label">收藏链接</label>
							<input type="text" name="originaladdress" autocomplete="off" class="originaladdress form-control" placeholder="请输入收藏夹ID">
						</div>
					</div>
					<div class="col-md-6 seaarcline"  style="display: none">
						<div class="form-group">
							<label class="address-label">合集ID</label>
							<input type="text" name="seaarcid" autocomplete="off" class="seaarcid form-control" placeholder="合集ID">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>是否开启监控</label>
							<select class="monitoring form-control">
								<option value="N">否</option>
								<option value="Y">是</option>
							</select>
						</div>
					</div>
					<div class="col-md-6 taskcron-line">
						<div class="form-group">
							<label>独立Cron 
								<a href="https://calctools.online/zh/time/cron#quartz" target="_blank" class="text-info" title="Cron表达式填写指南">
									<i class="mdi mdi-help-circle-outline"></i>
								</a>
							</label>
							<input type="text" class="form-control taskcron" placeholder="不填默认按全局">
						</div>
					</div>
<!-- 					<div class="col-md-6">
						<div class="form-group">
							<label>是否生成NFO</label>
							<select class="generatenfo form-control">
								<option value="N">否</option>
								<option value="Y">是</option>
							</select>
						</div>
					</div> -->
				</div>

				<!-- 收藏夹选择 -->
				<div class="layui-inline collect-list" style="display: none;">
					<label>收藏夹</label>
					<div class="layui-input-inline layui-show-xs-block">
						<select class="collect-select form-control">
							<option value="">加载中...</option>
						</select>
					</div>
				</div>

				<div class="row mt-4">
					<div class="col-md-12">
						<button type="button" class="btn btn-primary submitCollect">保存信息</button>
					</div>
				</div>
				<br/><br/><br/>
				<div class="alert alert-info mt-4" role="alert">
					<div class="bilibili-tip">
						<strong>哔哩哔哩提示:</strong><br/>
						只需要填写收藏夹ID<br/>
						eg. https://www.bilibili.com/medialist/detail/ml12344  中只需要填写 12344<br />
						如果是投稿  则只填用户id<br />
						eg. https://space.bilibili.com/xxxxx  中只需要填xxxx
						同时B站逻辑中 未处理被风控命中 终止逻辑 所以会抛出异常  等待下一次监控继续执行<br />
						合集类 需要两个参数  本身目前懒 不分开了<br />
						需要创作者的个人ID 和对应合集的ID 以#号拼接<br />
						eg.https://space.bilibili.com/123456/lists?sid=789456<br />
						填作者id 123456  合集id  789456<br />
						
					</div>
					<div class="douyin-tip" style="display: none;">
						<strong>抖音提示:</strong><br/>
						1. 作品/喜欢页面 需要填写用户id<br/>
						2. 如果是喜欢页面 请确认开放所有人可见<br/>
						3. 用户id获取方式eg. https://www.douyin.com/user/xxxx   中只需要 xxxx<br/>
						4. 如果ck 是这个账号的 则不强制所有人可见权限
					</div>
					<hr>
					<small class="text-muted">
						请注意监控按需开启 监控和本功能公用一个线程如果监控过多,会造成手动添加排队时间过长<br/>
						该功能处于测试阶段,会有bug 但是我不知道
					</small>
				</div>
			</div>
		</div>
	</div>

	<!--    模态框end-->
</div>

<script type="text/javascript" src="../static/js/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../static/js/perfect-scrollbar.min.js"></script>
<script type="text/javascript" src="../static/js/main.min.js"></script>
<script type="text/javascript" src="../static/js/laypage.js"></script>
<script src="../static/js/layer/layer.js" type="text/javascript"></script>
<script type="text/javascript">
	$(function(){
		findList(1);
		addCollect();
		$('.searchData').click(function () {
			findList(1)
		})
		$('.monitoring').change(function(){
		    var val = $(this).val();
		    if (val === 'N') {
		        $('.taskcron-line').hide();
		    } else {
		        $('.taskcron-line').show();
		    }
		}).trigger('change');


		// 平台选择切换
		$('#platformSelect').change(function(){
			var platform = $(this).val();
			if(platform === '抖音') {
				$('.douyin-type').show();
				$('.douyin-tip').show();
				$('.bilibili-tip').hide();
				$('.seaarcline').hide();
				$('.bilibili-type').hide();
				$('.bilibili-max-fetch').hide();
				$('.addressl').show();
				$('.addressl .address-label').text('用户ID');
				$('.originaladdress').attr('placeholder', '请输入用户ID');
			} else {
				$('.seaarcline').hide();
				$('.douyin-type').hide();
				$('.collect-list').hide();
				$('.douyin-tip').hide();
				$('.bilibili-tip').show();
				$('.bilibili-type').show();
				$('.bilibili-max-fetch').hide();
				$('.addressl').show();
				$('.addressl .address-label').text('收藏链接');
				$('.originaladdress').attr('placeholder', '请输入收藏夹ID');
				$('.bilibili-select').trigger('change');
			}
		}).trigger('change');

		// B站类型选择切换
		$('.bilibili-select').change(function(){
			var type = $(this).val();
			if(type === 'arc') {
				$('.bilibili-max-fetch').show();
				$('.seaarcline').hide();
				$('.originaladdress').attr('placeholder', '请输入UP主ID');
			} 
			if(type === 'fav'){
				$('.bilibili-max-fetch').hide();
				$('.seaarcline').hide();
				$('.originaladdress').attr('placeholder', '请输入收藏夹ID');
			}
			if(type === 'seaarc'){
				$('.bilibili-max-fetch').show();
				$('.seaarcline').show();
				$('.originaladdress').attr('placeholder', '请输入创作者ID');
			}
		}).trigger('change');

		// 抖音类型选择切换
		$('.douyin-select').change(function(){
			$('.seaarcline').hide();
			var type = $(this).val();
			if(type === 'collect') {
				$('.collect-list').show();
				$('.addressl').show().hide(); 
				$('.collect-select').html('<option value="">加载中...</option>');
				// 直接调用加载收藏夹
				loadCollectList();
			} else {
				$('.collect-list').hide();
				$('.addressl').show(); // 显示用户ID输入框
				$('.address-label').text('用户ID');
				$('.addressl .originaladdress').attr('placeholder', '请输入用户ID');
			}
		});

		// 加载收藏夹函数
		function loadCollectList() {
			// 显示加载中
			var loading = layer.load(2);
			
			// 调用接口获取收藏夹列表
			$.ajax({
				url: '/admin/api/loadDouFav',
				type: 'GET',
				success: function(res){
					layer.close(loading);
					if(res.resCode === "000001") {
						var html = '<option value="">请选择收藏夹</option>';
						try {
							// 使用正则匹配collects_id和collects_name
							var regex = /"collects_id":\s*(\d+),\s*"collects_name":\s*"([^"]+)"/g;
							var match;
							while ((match = regex.exec(res.message)) !== null) {
								// match[1]是collects_id, match[2]是collects_name
								html += '<option value="'+match[1]+'">'+match[2]+'</option>';
							}
							$('.collect-select').html(html);
						} catch(e) {
							console.error(e);
							layer.msg('解析收藏夹数据失败');
						}
					} else {
						layer.msg(res.message || '获取收藏夹失败');
					}
				},
				error: function(){
					layer.close(loading);
					layer.msg('网络错误');
				}
			});
		}

		// 提交表单时处理值
		$('.submitCollect').click(function(){
			var isEdit = $('.optionid').val() !== '';
			var platform = $('.platform').val();
			var originaladdress = $('.originaladdress').val();
			
			// 如果是抖音,根据类型拼接值
			if(platform === '抖音' && !isEdit) {
				var type = $('.douyin-select').val();
				if(type === 'post') {
					originaladdress = 'post' + originaladdress;
				} else if(type === 'like') {
					originaladdress = 'like' + originaladdress;
				} else if(type === 'recommend') {
					originaladdress = 'recommend' + originaladdress;
				} else if(type === 'collect') {
					var collectId = $('.collect-select').val();
					if(!collectId) {
						layer.msg('请选择收藏夹');
						return;
					}
					originaladdress = 'fav-' + collectId+"-fav";
				}
			}
			if(platform === '哔哩' && !isEdit) {
				var type = $('.bilibili-select').val();
				var seaarcid = $('.seaarcid').val();
				if(type === 'fav') {
					originaladdress = 'bili-fav-' + originaladdress;
				} else if(type === 'arc') {
					originaladdress = 'bili-arc-' + originaladdress;
				} else if(type === 'seaarc') {
					originaladdress = 'bili-seaarc-' + originaladdress+"#"+seaarcid;
				}
			}
			
			var option = {
				id: $('.optionid').val(),
				platform: platform,
				originaladdress: originaladdress,
				monitoring: $('.monitoring').val(),
				taskname: $('.taskname').val(),
				taskcron:$(".taskcron").val()
			};
			
			// 如果是抖音，添加最大获取数参数
			if(platform === '抖音') {
				option.omaxcur = $('.douyin-type .max-fetch').val();
				option.maxcur = $('.douyin-type .monitor-max-fetch').val();
			}
			// 如果是B站，添加最大获取数参数
			if(platform === '哔哩') {
				var type = $('.bilibili-select').val();
				if(type === 'arc' || type === 'seaarc' ) {
					option.omaxcur = $('.bilibili-type .max-fetch').val();
					option.maxcur = $('.bilibili-type .monitor-max-fetch').val();
				}
			}
			/* option['generatenfo'] =$('.generatenfo').val(); */
			layer.load();
			var api = isEdit ? "/admin/api/updateCollectData" : "/admin/api/submitCollectData";
			$.post(api, option, function(data,status){
				if(data.resCode == "000001"){
					layer.closeAll();
					if (isEdit) {
						layer.alert('任务修改成功！', function(){ window.location.reload(); });
						return;
					}
					// 询问是否立即启动任务
					layer.confirm('任务保存成功！是否立即启动任务？', {
						btn: ['立即启动','稍后启动'] // 按钮
					}, function(){
						// 用户点击立即启动，复用startTask的逻辑
						var taskId = data.record.id;
						if(taskId){
							execTaskById(taskId);
						}else{
							layer.msg('无法获取任务ID！', {icon: 2});
							window.location.reload();
						}
					}, function(){
						// 用户点击稍后启动
						window.location.reload();
					});
				}else{
					layer.closeAll();
					layer.alert(data.message);
				}
			})
		});
	});
	function addCollect(){
		$('.addCollect').click(function(){
			$('.addCollectBox .card-header h4').text('添加收藏任务');
			$('.optionid').val('');
			$('.submitCollect').text('保存信息');
			$('.platform, .douyin-select, .bilibili-select, .originaladdress, .seaarcid').prop('disabled', false);
			$('.taskname').val('');
			$('.monitoring').val('N').trigger('change');
			$('.taskcron').val('');
			$('.max-fetch').val('');
			$('.monitor-max-fetch').val('');
			layer.open({
				type: 1,
				skin: 'layui-layer-rim',
				area: ['680px', '720px'],
				content: $('.addCollectBox')
			});
		})
	}

	function editCollect(){
		$('.editCollect').click(function(){
			var row = $(this).data('row');
			if (typeof row === 'string') {
				try { row = JSON.parse(decodeURIComponent(row)); } catch(e) { row = null; }
			}
			if(!row){
				layer.msg('读取任务数据失败');
				return;
			}
			$('.addCollectBox .card-header h4').text('编辑收藏任务');
			$('.optionid').val(row.id);
			$('.taskname').val(row.taskname || '');
			$('.monitoring').val(row.monitoring || 'N').trigger('change');
			$('.taskcron').val(row.taskcron || '');
			$('.platform').val(row.platform || '抖音').trigger('change');
			$('.max-fetch').val(row.omaxcur || '');
			$('.monitor-max-fetch').val(row.maxcur || '');
			$('.submitCollect').text('保存修改');
			// 仅允许改下载数、cron、任务名、监控开关
			$('.platform, .douyin-select, .bilibili-select, .originaladdress, .seaarcid').prop('disabled', true);
			layer.open({
				type: 1,
				skin: 'layui-layer-rim',
				area: ['680px', '720px'],
				content: $('.addCollectBox')
			});
		})
	}
	function viewProcesses(){
		$('.viewProcesses').click(function () {
			var id = $(this).attr('data-id');
			layer.open({
				type: 2,
				title: '任务进程',
				shadeClose: true,
				maxmin: true, //开启最大化最小化按钮
				area: ['900px', '600px'],
				content: '/admin/collectDataDetailList?taskid='+id
			});
		})
	}
	function deleteProcesses(){
		$('.deleteProcesses').click(function () {
			var id = $(this).attr('data-id');
			layer.confirm("删除任务会造成任务失败建议无执行任务时再删除！是否删除", function(index){
				//调用接口删除
				$.get("/admin/api/deleteCollectData?id="+id,function(res){
					if(res.resCode =="000001"){
						layer.msg(res.message)
						setTimeout(function(){
							window.location.reload();
						},1500)
					}else{
						layer.alert(res.message);
					}
				})
				layer.close(index);
			});
		})

	}
	/**
	 * 执行任务的通用函数
	 * @param {string} taskId 任务ID
	 */
	function execTaskById(taskId){
		//调用接口开始任务
		layer.load();
		$.get("/admin/api/execCollectData?id="+taskId,function(res){
			if(res.resCode =="000001"){
				layer.msg('任务启动成功！', {icon: 1});
				setTimeout(function(){
					window.location.reload();
				},1500)
			}else{
				layer.msg('任务启动失败：' + res.message, {icon: 2});
			}
		}).fail(function(){
			layer.msg('任务启动请求失败！', {icon: 2});
		});
	}
	
	/**
	 * 开始任务按钮点击事件处理
	 */
	function startTask(){
		$('.startTask').click(function () {
			var id = $(this).attr('data-id');
			layer.confirm("确定要开始执行此任务吗？", function(index){
				execTaskById(id);
				layer.close(index);
			});
		})
	}

	function pauseTask(){
		$('.pauseTask').click(function () {
			var id = $(this).attr('data-id');
			layer.confirm("确定暂停此任务吗？", function(index){
				layer.load();
				$.get('/admin/api/pauseCollectData?id=' + id, function(res){
					layer.closeAll('loading');
					if(res.resCode === '000001'){
						layer.msg('任务已暂停');
						setTimeout(function(){ window.location.reload(); }, 1000);
					}else{
						layer.alert(res.message || '暂停失败');
					}
				}).fail(function(){
					layer.closeAll('loading');
					layer.alert('网络请求失败');
				});
				layer.close(index);
			});
		})
	}

	function resumeTask(){
		$('.resumeTask').click(function () {
			var id = $(this).attr('data-id');
			layer.confirm("确定开始此任务吗？", function(index){
				layer.load();
				$.get('/admin/api/resumeCollectData?id=' + id, function(res){
					layer.closeAll('loading');
					if(res.resCode === '000001'){
						layer.msg('任务已开始');
						setTimeout(function(){ window.location.reload(); }, 1000);
					}else{
						layer.alert(res.message || '开始失败');
					}
				}).fail(function(){
					layer.closeAll('loading');
					layer.alert('网络请求失败');
				});
				layer.close(index);
			});
		})
	}
	function textnone(str){
		if(str == null || str == undefined){
			return "无";
		}
		return str;
	}
	function fixData(id){
		layer.confirm("确定将数据格式调整为新版吗？", function(index){
			$.get("/admin/api/fixBiliFav?id="+id,function(res){
				if(res.resCode == "000001"){
					layer.msg(res.message, function(){
						window.location.reload();
					});
				} else {
					layer.msg(res.message);
				}
			})
		})
	}
	

	function  findList(page){
		var option = {
			pageNo:page,
			pageSize:25
		}
		var  videoplatform = $('.videoplatform').val();
		if(videoplatform != "" ){
			option['platform']= videoplatform;
		}
		$.post("/admin/api/findCollectDataList",option,
				function(data,status){
					console.log(data,status);
					if(data.resCode==="000001"){
						var record = data.record;
						var html = "";
						var list = record.content;
						console.log(list);
						for(var i = 0;i<list.length;i++){
							// 解析originaladdress
							var addressType = '';
							var addressValue = '';
							if(list[i].platform === '抖音') {
								if(list[i].originaladdress.startsWith('post')) {
									addressType = '作品';
									addressValue = list[i].originaladdress.substring(4);
								} else if(list[i].originaladdress.startsWith('like')) {
									addressType = '喜欢';
									addressValue = list[i].originaladdress.substring(4);
								} else if(list[i].originaladdress.startsWith('recommend')) {
									addressType = '首页推荐';
									addressValue = list[i].originaladdress.substring(9);
								} else if(list[i].originaladdress.startsWith('fav-')) {
									addressType = '收藏夹';
									var parts = list[i].originaladdress.split('-');
									addressValue = parts[1] + ' (' + parts[2].substring(3) + ')';
								}
							} else if(list[i].platform === '哔哩') {
								if(list[i].originaladdress.startsWith('bili-fav-')) {
									addressType = '收藏夹';
									addressValue = list[i].originaladdress.substring(9);
								} else if(list[i].originaladdress.startsWith('bili-arc-')) {
									addressType = '投稿';
									addressValue = list[i].originaladdress.substring(9);
								}else if(list[i].originaladdress.startsWith('bili-seaarc-')) {
									addressType = '合集';
									addressValue = list[i].originaladdress.substring(12);
								} else {
									// 旧数据格式
									addressType = '收藏夹(旧格式)';
									addressValue = list[i].originaladdress;
								}
							} else {
								addressType = '收藏夹';
								addressValue = list[i].originaladdress;
							}

							// 任务状态样式
							var statusClass = '';
							var statusText = list[i].taskstatus;
							switch(list[i].taskstatus) {
								case '处理完成':
									statusClass = 'text-success';
									break;
								case '已提交待处理':
									statusClass = 'text-warning';
									break;
								case '已开始处理':
									statusClass = 'text-info';
									break;
								default:
									statusClass = 'text-secondary';
							}

							// 监控状态样式
							var monitorClass = list[i].monitoring === 'Y' ? 'text-success' : 'text-secondary';
							var monitorText = list[i].monitoring === 'Y' ? '已开启' : '未开启';
							var enabled = list[i].taskenabled !== 'N';
							var enabledText = enabled ? '运行中' : '已暂停';
							var enabledClass = enabled ? 'text-success' : 'text-warning';

							html +='<tr>'
									+'<td title="'+list[i].id+'">'+list[i].id+'</td>'
									+'<td title="'+list[i].taskname+'">'
										+textnone(list[i].taskname)
										+'<br/><small class="text-muted">'
										+(list[i].platform === '哔哩' && (list[i].originaladdress.startsWith('bili-arc-') || list[i].originaladdress.startsWith('bili-seaarc-')) ? 
											(list[i].omaxcur ? '首次:'+list[i].omaxcur : '首次:哔哩全量') + 
											' | ' + 
											(list[i].maxcur ? '监控:'+list[i].maxcur : '监控:哔哩全量') : 
											list[i].platform === '抖音' ? 
											(list[i].omaxcur ? '首次:'+list[i].omaxcur : '首次:DY80') + 
											' | ' + 
											(list[i].maxcur ? '监控:'+list[i].maxcur : '监控:DY80') : '')
										+'</small>'
									+'</td>'
									+'<td title="'+addressValue+'">'
										+'<span class="badge badge-info">'+addressType+'</span> '
										+'<small class="text-muted">'+addressValue+'</small>'
									+'</td>'
									+'<td title="'+list[i].platform+'">'+list[i].platform+'</td>'
								+'<td><span class="'+monitorClass+'">'+monitorText+'</span><br/><small class="'+enabledClass+'">'+enabledText+'</small></td>'
								+'<td><span class="'+statusClass+'">'+textnone(statusText)+'</span></td>'
									+'<td>'+textnone(list[i].count)+'/'+textnone(list[i].carriedout)+'</td>'
									+'<td>'+textnone(list[i].taskcron)+'</td>'
									+'<td>'+textnone(list[i].createtime)+'</td>'
									+'<td>'+textnone(list[i].endtime)+'</td>'
									+'<td>'
									+'<div class="btn-group">'
									+'<a data-id="'+list[i].id+'" class="btn btn-xs btn-success startTask" href="#!" title="开始任务" data-toggle="tooltip">执行一次</a>'
									+'<a data-row="'+encodeURIComponent(JSON.stringify(list[i]))+'" class="btn btn-xs btn-primary editCollect" href="#!" title="编辑任务" data-toggle="tooltip">编辑</a>'
									+(enabled ? '<a data-id="'+list[i].id+'" class="btn btn-xs btn-warning pauseTask" href="#!" title="暂停任务" data-toggle="tooltip">暂停</a>' : '<a data-id="'+list[i].id+'" class="btn btn-xs btn-info resumeTask" href="#!" title="开始任务" data-toggle="tooltip">开始</a>')
									+'<a data-json="'+encodeURIComponent(list[i].lastfetchsnapshot || '')+'" class="btn btn-xs btn-default viewSnapshot" href="#!" title="最近拉取全量" data-toggle="tooltip">全量列表</a>'
									+'<a data-json="'+encodeURIComponent(list[i].lastplanitems || '')+'" class="btn btn-xs btn-default viewPlan" href="#!" title="本轮计划下载" data-toggle="tooltip">计划列表</a>'
									+'<a data-id="'+list[i].id+'" class="btn btn-xs btn-default viewProcesses" href="#!" title="查看进程" data-toggle="tooltip">查看进程</a>'
									+'<a data-id="'+list[i].id+'" class="btn btn-xs btn-default deleteProcesses" href="#!" title="删除" data-toggle="tooltip">删除</a>'
									+(list[i].platform === '哔哩' && !list[i].originaladdress.startsWith('bili-fav-') && !list[i].originaladdress.startsWith('bili-arc-')  && !list[i].originaladdress.startsWith('bili-seaarc-') ? 
										'<a onclick="fixData('+list[i].id+')" data-id="'+list[i].id+'" class="btn btn-xs btn-warning fixData" href="#!" title="将数据格式调整为新版" data-toggle="tooltip">修复</a>' : '')
									+'</div>'
									+'</td></tr>'
						}

						$('.tableData').html(html)
					viewProcesses();
					deleteProcesses();
					startTask();
					editCollect();
					pauseTask();
					resumeTask();
					viewSnapshot();
					viewPlan();
						laypage({
							cont: 'pager',
							pages: record.page.totalPages,
							curr:page,
							jump: function(obj,first){
								if(!first && obj.curr != page){
									findList(obj.curr);
								}
							}
						})
					}

				})
	}

	function viewSnapshot(){
		$('.viewSnapshot').click(function(){
			var content = decodeURIComponent($(this).attr('data-json') || '');
			if(!content){
				layer.msg('暂无最近一次全量拉取数据');
				return;
			}
			showTextDialog('最近一次全量拉取列表', content);
		});
	}

	function viewPlan(){
		$('.viewPlan').click(function(){
			var content = decodeURIComponent($(this).attr('data-json') || '');
			if(!content){
				layer.msg('暂无最近一次计划下载数据');
				return;
			}
			showTextDialog('最近一次计划下载列表', content);
		});
	}

	function showTextDialog(title, text){
		var safeText = text || '';
		layer.open({
			type: 1,
			title: title,
			area: ['70%', '70%'],
			content: '<div style="padding:12px;"><pre style="white-space:pre-wrap;word-break:break-all;max-height:60vh;overflow:auto;">'+
			$('<div/>').text(safeText).html() + '</pre></div>'
		});
	}
</script>
</body>
</html>
